<div class="container">
    <div>
        <app-countdown-timer class="countdown-timer" [countdownTimer]="countdownTimer" (finishReason)="countDownEnds($event)"></app-countdown-timer>
        <div class="center">
            <button mat-raised-button color="primary" (click)="stop()">Finalizar</button>
        </div>    
    </div>
</div>
