.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer {
    width: fit-content;
    font-size: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
}