.container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }